/* ************************************Sliding Menu CSS */
/**
 * Menu overview.
 */
.c-menu {
    position: absolute;
    z-index: 200;
    background-color: #67b5d1;
    transition: transform 0.3s, height 0.3s;
    border-radius: 5px;
    top: 9px;
}

.c-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-menu--slide-left {
    width: 30px;
    height: 100%;
    overflow: hidden;
}

@media all and (min-width: 320px) {
    .c-menu--slide-left {
        width: 300px;
    }
}

.c-menu--slide-left .c-menu__item {
    display: block;
    text-align: center;
    border-top: solid 1px #b5dbe9;
    border-bottom: solid 1px #3184a1;
    padding-top: 20px;
}

.c-menu--slide-left .c-menu__item:first-child {
    border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child{
    border-bottom: none;
}

.c-menu--slide-left .c-menu__link {
    display: block;
    padding: 12px 24px;
    color: #fff;
}

.c-menu--slide-left .c-menu__close{
    display: block;
    padding: 12px 24px;
    width: 100%;
}

.c-menu--slide-left {
    top: 0;
    right: 0;
    transform: translateX(100%);

}

@media all and (min-width: 320px) {
    .c-menu--slide-left {
        transform: translateX(250px);
    }
}

.c-menu--slide-left.is-active,
.c-menu--slide-left:hover {
    transform: translateX(0) ;
    height: 100%;
    position: fixed;
}
#slide-menu-icon {
    position: absolute;
    top: 14px;
    left: 15px;
}